<%= form_for(@pin) do |f| %>
  <div class="form-group">
     <%= f.label :description %><br>
     <%= f.text_field :description %><br>
  </div>
  <div class="form-group"">
     <%= f.label :image %>
     <%= f.file_field :image %>
  </div>

     <%= f.submit %>
<% end %>
